.main-container{
  background:#e8eaf6
}

@media only screen and (min-width: 768px) {
  .main-container {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}

.listing-page{
  padding:24px
}

.MuiCircularProgress-root {
  display: block !important;
  margin: auto !important;
  margin-top: 10% !important;
}
.status {
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 5px;
}
.MTableToolbar-actions-147 {
  display: none;
}
.MuiTableCell-alignLeft {
  padding-left: 10px !important;
  padding-right: 5px !important;
}
.default-text {
  text-decoration: none;
  color: inherit;
}
.active {
  background: #0288d1;
}
.completed {
  background: #388e3c;
}
.new {
  background: #fdd835;
}
.warning-icon {
  color: red;
  font-size: 4rem !important;
}
